* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	/* background: #ddd; */
	overflow: hidden;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: #ddd; */
}

#start-btn {
	font-size: 15px;
	font-weight: bold;
    padding: 20px 40px 20px 40px;
    border: 2px solid #ddd;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    /* background:url("thanos-logo.png") white 15px no-repeat; */
	/* background-size: 50px; */
    /* transition: .3s; */
    font-family: sans-serif;
}

#target{
    cursor: pointer;
}

.dust {
    position: absolute;
}
